#
# Config file for vacuum cleaner client
#

[cloudio]
name = 'My cloud.iO'
host = 'my.cloud.io'
port = 1883
username = 'admin'
password = 'admin'
subscribe_topics='@online/test-vacuum-cleaner/#', '@offline/test-vacuum-cleaner/#'
qos=0

[endpoint]
name = 'test-vacuum-cleaner'

[node]
name = 'VacuumCleaner'