#
# Config file for vacuum cleaner client
#

[cloudio]
name = 'My cloud.iO'
host = 'my.cloud.io'
port = 8883
cert = "~/.config/cloud.io/ca-cert.pem"
username = 'admin'
password = 'admin'
subscribe_topics='@online/VacuumCleanerEndpoint/#', '@offline/VacuumCleanerEndpoint/#'
qos=0

[endpoint]
name = 'test-vacuum-cleaner'

[node]
name = 'VacuumCleaner'