[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
build = "*"
coverage = "*"
coverage-badge = "*"
cloudio-endpoint-python = {editable = true, path = "."}
twine = "*"

[packages]
configobj = "*"
cloudio-common-python = "==2.0.0"
cbor = "==1.0.0"

[requires]
python_version = "3.9"
