[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
cloudio-endpoint-python = {editable = true, path = "."}

[packages]
paho-mqtt = "*"
configobj = "*"

[requires]
python_version = "3.9"
